@import "tailwindcss";
@import "tailwindcss/utilities";


:root {
  --background-login-shop-pages: #A6BB7E;
  --background-info-login: #fff;
  --background-modal-forgot-pass: #000000ce;
  --default-text: #fff;
  --login-text: #000;
  --button-login: #3C4B0A;
  
  --font-julius: 'Julius Sans One', sans-serif;
  --font-josefin: 'Josefin Slab', serif;
  --font-josefin_sans: 'Josefin Sans', serif;
}

.julius_Sans_One {
  font-family: var(--font-julius);
}

.josefin_Slab{
  font-family: var(--font-josefin);
}

@theme inline{
  --color-background-login-shop-pages: var(--background-login-shop-pages);
  --color-background-info-login: var(--background-info-login);
  --color-background-modal-forgot-pass: var(--background-modal-forgot-pass);
  --color-default-text: var(--default-text);
  --color-login-text: var(--login-text);
  --color-button-login: var(--button-login);
}